.topbar{
	background-color: #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	margin: 0;
	padding: 0;
	height: 59px;	
}

#topbar_inner{
	position: relative;
	top: 18px;
	left: 15px;
}

.top_align{
	height: 31px;
	margin: 0 0;
	display: inline-block;
	padding: 0;

}

input{
	height: 31px;
	width: 548px;
}

#mic_div{
	position: relative;
	left: -20px;
	bottom: 4px;
}

#search_button{
	position: relative;
	text-align: center;
	height: 37px;
	width: 40px;
	left: -17px;
	bottom: 12px;
	background-color: #4285f4;
}